// Colors
$color-light-grey: #dddddd;
$color-lighten-grey: #eceeef;
$color-mid-grey: #818a91;
$color-grey: #777777;
$color-mid-dark: #55595c;
$color-dark: #373a3c;
$color-red: #d9534f;
$color-orange: #f0ad4e;
$color-mid-blue: #56c0e0;
$color-light-blue: #dcedf6;
$color-blue: #1c7cd5;
$color-light-green: #e2eed8;
$color-green: #5cb85c;
$color-light-yellow: #fcf7e4;
$color-light-pink: #efdfdf;
